.card-more {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 52px 37px 38px 38px;
    height: 430px;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    padding-top: 51px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.card-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin-bottom: 23px;
    align-self: center;
  }
}

.card-more__link-cross {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px auto;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}

.card-more__link-cross::before,
.card-more__link-cross::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
}

.card-more__link-cross::before {
  transform: rotate(90deg);
}

.card-more__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 165px;
    align-self: center;
    margin-bottom: auto;
  }
}

.card-more__button {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
