p {
  padding: 0;
  margin: 0;
}
section {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  section {
    padding-left: 31px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  section {
    padding-left: 110px;
    padding-right: 110px;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1 {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (min-width: 769px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
  }
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  object-fit: contain;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
.button--second {
  color: #444444;
  background-color: #f2f2f2;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.bottom {
  display: block;
  background-color: #f2f2f2;
  padding: 40px 20px;
}
@media (min-width: 769px) {
  .bottom {
    display: flex;
    align-items: center;
    padding: 55px 30px;
  }
}
@media (min-width: 1440px) {
  .bottom {
    padding: 66px 110px;
  }
}
.bottom__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 769px) {
  .bottom__social {
    padding: 0;
    border: none;
    margin: 0 auto;
  }
}
.bottom__logo {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
@media (min-width: 769px) {
  .bottom__logo {
    margin: 0;
  }
}
.bottom__copyright {
  margin-top: 20px;
}
@media (min-width: 769px) {
  .bottom__copyright {
    margin: 0;
  }
}
.card-more {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  padding-bottom: 25px;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .card-more {
    padding: 161px 37px 38px 38px;
    height: 430px;
    padding-bottom: 38px;
    border: 2px solid #f2f2f2;
  }
}
.card-more__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 769px) {
  .card-more__title {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin-bottom: 23px;
    align-self: center;
  }
}
.card-more__title::before,
.card-more__title::after {
  display: block;
  content: "";
  position: absolute;
  top: 39px;
  right: 50%;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
@media (min-width: 769px) {
  .card-more__title::before,
  .card-more__title::after {
    top: 82px;
    width: 60px;
  }
}
.card-more__title::before {
  transform: translate(50%) rotate(90deg);
}
.card-more__title::after {
  transform: translate(50%);
}
.card-more__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .card-more__text {
    font-size: 16px;
    line-height: 18px;
    width: 165px;
    align-self: center;
    margin-bottom: auto;
  }
}
.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 19px;
  padding-bottom: 25px;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .card {
    display: flex;
    flex-direction: column;
    height: 430px;
    background-color: #f2f2f2;
    padding: 161px 37px 39px 37px;
  }
}
.card__list {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 140px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}
@media (min-width: 769px) {
  .card__list {
    width: 100%;
    margin-bottom: auto;
  }
}
.card__term {
  text-align: left;
}
@media (min-width: 769px) {
  .card__term {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.card__detail {
  text-align: right;
  margin: 0;
}
@media (min-width: 769px) {
  .card__detail {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.card__title {
  grid-column: 2 / 3;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media (min-width: 769px) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
    width: 170px;
    text-align: center;
    align-self: center;
    margin-bottom: 21px;
  }
}
.card__order {
  grid-column: 1 / -1;
}
@media (min-width: 769px) {
  .catalog {
    margin-bottom: 68px;
  }
}
.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 769px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 143px;
  }
}
.catalog__item {
  position: relative;
}
.catalog__item::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100vw;
  background-color: #ebebeb;
  left: -20px;
  bottom: 0;
}
@media (min-width: 769px) {
  .catalog__item::after {
    display: none;
  }
}
.catalog__item:first-of-type::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100vw;
  background-color: #ebebeb;
  left: -20px;
  top: 0;
}
@media (min-width: 769px) {
  .catalog__item:first-of-type::before {
    display: none;
  }
}
.catalog__title {
  padding-top: 27px;
  margin-bottom: 49px;
  color: #000000;
}
@media (min-width: 769px) {
  .catalog__title {
    margin-bottom: 163px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin-bottom: 165px;
  }
}
.categories {
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .categories {
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .categories {
    margin-bottom: 71px;
  }
}
.categories__list {
  display: block;
}
@media (min-width: 1440px) {
  .categories__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.categories__item {
  display: block;
  background-color: #f2f2f2;
  text-align: start;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 18px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .categories__item {
    width: 100%;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 57px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .categories__item {
    min-width: 570px;
    padding-left: 52px;
    padding-bottom: 59px;
  }
}
.categories__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 769px) {
  .categories__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .categories__title {
    text-align: center;
  }
}
.categories__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  max-width: 227px;
  margin-bottom: 38px;
}
@media (min-width: 769px) {
  .categories__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
    text-align: start;
    max-width: 340px;
  }
}
@media (min-width: 1440px) {
  .categories__description {
    margin-bottom: 27px;
    text-align: start;
    max-width: 452px;
  }
}
.categories__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 769px) {
  .categories__link {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    max-width: 165px;
  }
}
.contacts {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: #ffffff;
}
.contacts--second-color {
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .contacts {
    padding: 56px 70px 56px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    width: 565px;
    padding: 56px 60px 56px 80px;
    background-color: #ffffff;
  }
}
.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
  margin: 0;
  padding: 0;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }
}
.contacts__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  max-width: 139px;
  margin: 0;
  padding: 0;
  color: #444444;
}
@media (min-width: 769px) {
  .contacts__text {
    font-size: 16px;
    text-align: right;
    max-width: 160px;
  }
}
@media (min-width: 1440px) {
  .contacts__text {
    text-align: left;
  }
}
.contacts__map {
  display: block;
  border: none;
}
.copyright__link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .copyright__text {
    margin-right: 27px;
  }
}
.different {
  padding-top: 25px;
}
@media (min-width: 1440px) {
  .different {
    padding-left: 70px;
    margin-bottom: 85px;
  }
}
.different__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  max-width: 287px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 49px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .different__title {
    font-size: 36px;
    line-height: 36px;
    width: 411px;
    padding-left: 37px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .different__title {
    width: 413px;
    padding-left: 40px;
  }
}
.different__title::before {
  position: absolute;
  content: "";
  width: calc(100vw + 20px);
  height: 2px;
  top: 15px;
  left: -20px;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 769px) {
  .different__title::before {
    left: -30px;
    top: 23px;
  }
}
@media (min-width: 1440px) {
  .different__title::before {
    left: -70px;
  }
}
.different__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .different__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding-left: 40px;
  }
}
.different__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media (min-width: 769px) {
  .different__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .different__list {
    grid-column: 1 / 4;
    display: grid;
    min-width: 896px;
    margin: 0;
  }
}
.different__gift {
  position: relative;
  width: 100%;
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .different__gift {
    min-height: 200px;
  }
}
@media (min-width: 1440px) {
  .different__gift {
    min-width: 244px;
    height: 100%;
  }
}
.different__gift::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../img/gift-box.svg");
  background-repeat: no-repeat;
  background-size: 78px 80px;
  background-position: center;
  z-index: 2;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 769px) {
  .different__gift::before {
    top: 50%;
    left: 77px;
    transform: translateY(-50%);
  }
}
@media (min-width: 1440px) {
  .different__gift::before {
    top: 55px;
    left: 50%;
    transform: translate(-50%);
  }
}
.different__gift::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 769px) {
  .different__gift::after {
    height: 100%;
  }
}
.different__link {
  position: relative;
  display: flex;
  width: 161px;
  min-height: 60px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  margin: 186px auto 43px auto;
  z-index: 2;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .different__link {
    padding: 0;
    margin: 71px 124px 69px auto;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .different__link {
    margin: 184px auto 42px auto;
    text-align: center;
  }
}
.expense {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .expense {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
  }
}
@media (min-width: 1440px) {
  .expense {
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
.expense__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}
@media (min-width: 769px) {
  .expense__wrapper {
    width: 366px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .expense__wrapper {
    margin-bottom: 60px;
  }
}
.expense__price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 769px) {
  .expense__price {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    min-height: 72px;
  }
}
.expense__container {
  position: relative;
  display: flex;
}
.expense__description {
  position: absolute;
  top: 48px;
  left: 18px;
  width: 87px;
  height: 24px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
}
@media (min-width: 769px) {
  .expense__description {
    width: 142px;
    top: 64px;
    left: 10px;
    background-color: #ffffff;
  }
  .expense__description br {
    display: none;
  }
}
@media (min-width: 1440px) {
  .expense__description {
    background-color: #f2f2f2;
  }
}
.expense__cost-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .expense__cost-wrapper {
    flex-direction: column;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .expense__cost-wrapper {
    flex-direction: row;
  }
}
.expense__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media (min-width: 769px) {
  .expense__cost {
    font-size: 20px;
    width: 174px;
    text-align: end;
    margin: 0;
    margin-bottom: 9px;
  }
}
@media (min-width: 1440px) {
  .expense__cost {
    display: flex;
    margin: 0;
    margin-right: 63px;
  }
}
.expense__money {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media (min-width: 769px) {
  .expense__money {
    font-size: 20px;
    text-align: end;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 67px;
  }
}
.form__group {
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .form__group:nth-of-type(3) {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
@media (min-width: 1440px) {
  .form__group:nth-of-type(4) {
    grid-column: 1 / 3;
  }
}
@media (min-width: 1440px) {
  .form__group:last-of-type {
    grid-column: 1 / 3;
  }
}
.form__list {
  position: relative;
  padding-top: 22px;
}
.form__list::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100vw;
  background-color: #d9d9d9;
  left: -20px;
  top: 0;
}
@media (min-width: 769px) {
  .form__list::before {
    display: none;
  }
}
.form__list::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100vw;
  background-color: #d9d9d9;
  left: -20px;
  bottom: -24px;
}
@media (min-width: 769px) {
  .form__list::after {
    display: none;
  }
}
.form__list-different {
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .form__list-different {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 60px;
    row-gap: 32px;
  }
}
@media (min-width: 1440px) {
  .form__list-different {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}
.form__item {
  margin-bottom: 24px;
}
.form__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media (min-width: 1440px) {
  .form__wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.form__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
  margin-right: 13px;
}
.form__field {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding: 14px 20px 13px 20px;
  -webkit-appearance: none;
          appearance: none;
  flex-grow: 1;
}
.form__value {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}
.form__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  max-width: 188px;
  padding-right: 16px;
  padding-left: 20px;
  margin-left: -20px;
  margin-bottom: 35px;
}
.form__title::before {
  position: absolute;
  content: "";
  width: calc(100vw + 20px);
  height: 2px;
  top: 15px;
  left: -20px;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 769px) {
  .form__title::before {
    left: -71px;
    top: 23px;
    width: calc(100vw + 40px);
  }
}
@media (min-width: 1440px) {
  .form__title::before {
    left: -70px;
  }
}
@media (min-width: 769px) {
  .form__title {
    max-width: 520px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 76px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;
  }
}
.form__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  -webkit-appearance: none;
          appearance: none;
  border: 1px solid #e7e7e7;
  padding: 10px 12px;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
  }
}
.form__text::placeholder {
  color: #444444;
}
.form__text-small {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 21px auto;
}
@media (min-width: 769px) {
  .form__text-small {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .form__text-small {
    text-align: start;
  }
}
@media (min-width: 769px) {
  .form__button-wrapper {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .form__button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.form__button {
  width: 100%;
}
@media (min-width: 769px) {
  .form__button {
    width: 282px;
    margin-right: 64px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    width: 100%;
  }
}
.logo {
  text-decoration: none;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-footer {
  width: 100%;
}
.main-footer__map {
  display: block;
  margin: 0;
  padding: 0;
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    position: relative;
  }
}
@media (min-width: 1440px) {
  .main-footer__contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 2;
  }
}
.main-header {
  min-height: 65px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .main-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    min-height: 59px;
    flex-direction: row;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 52px;
  }
}
.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 64px);
  margin-left: 20px;
  height: 65px;
}
@media (min-width: 769px) {
  .main-header__logo {
    height: 52px;
    width: 174px;
    margin: 0;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    height: 59px;
    width: 202px;
  }
}
.main-header__logo-text {
  margin: 0 auto;
}
.main-nav {
  position: relative;
}
@media (min-width: 1440px) {
  .main-nav {
    min-height: 40px;
  }
}
.main-nav__toggle {
  position: absolute;
  top: -64px;
  right: 0;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: none;
  display: block;
  box-sizing: border-box;
}
@media (min-width: 769px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 16px;
  background-image: url("../img/menu-toggle.svg");
  background-repeat: no-repeat;
  background-size: 24px 16px;
  background-position: center;
}
.main-nav--closed .main-nav__toggle:active::before {
  opacity: 30%;
}
.main-nav--closed .site-list {
  display: none;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  display: block;
  content: "";
  position: absolute;
  top: 32px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  opacity: 30%;
}
@media (min-width: 769px) {
  .main-nav__wrapper {
    margin-right: -18px;
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    margin-right: -16px;
    max-width: 590px;
  }
}
.main-nav--opened .main-nav__wrapper {
  position: absolute;
  display: block;
  right: 0;
  z-index: 3;
  min-width: 320px;
  width: 100%;
}
@media (min-width: 769px) {
  .main-nav--opened .main-nav__wrapper {
    position: static;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.page__body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .page__body {
    min-width: 769px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    min-width: 1440px;
  }
}
.precedent {
  position: relative;
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}
@media (min-width: 769px) {
  .precedent {
    background-color: #ffffff;
    padding: 43px 30px 0 31px;
  }
  .precedent::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
    top: 619px;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .precedent {
    padding: 70px 110px 75px 110px;
    background-color: #ffffff;
  }
  .precedent::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    background-color: #f2f2f2;
    top: 205px;
    left: 0;
  }
}
.precedent__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .precedent__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.precedent__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .precedent__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
@media (min-width: 769px) {
  .precedent__title {
    margin-bottom: 146px;
  }
}
.precedent__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
  z-index: 2;
}
@media (min-width: 769px) {
  .precedent__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .precedent__description {
    grid-column: 1 / 2;
    width: 436px;
    margin-bottom: 69px;
  }
}
.precedent__expense {
  z-index: 2;
}
@media (min-width: 1440px) {
  .precedent__expense {
    grid-column: 1 / 2;
  }
}
.precedent__image {
  z-index: 2;
}
@media (min-width: 1440px) {
  .precedent__image {
    grid-column: 2 / -1;
    grid-row: 1 / 4;
  }
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 40px;
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 769px) {
  .product {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr auto;
    column-gap: 50px;
    padding: 26px 38px 28px 38px;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .product {
    grid-template-columns: 1fr 150px 62px auto;
    column-gap: 40px;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 15px 0 17px 0;
    border-right: none;
    border-left: none;
  }
}
.product:first-child {
  border-top: 1px solid #cdcdcd;
}
.product__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  grid-column: 1 / 3;
  margin-bottom: 13px;
}
@media (min-width: 769px) {
  .product__title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    grid-row: 1 / 2;
  }
}
@media (min-width: 1440px) {
  .product__title {
    margin: 0;
  }
}
.product__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
  grid-column: 1 / 2;
  margin-bottom: 15px;
}
@media (min-width: 769px) {
  .product__text {
    grid-column: 2 / 3;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    grid-row: 1 / 2;
  }
}
@media (min-width: 1440px) {
  .product__text {
    margin: 0;
  }
}
.product__price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
  color: #444444;
  margin-bottom: 13px;
}
@media (min-width: 769px) {
  .product__price {
    grid-column: 3 / 4;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    grid-row: 1 / 2;
  }
}
@media (min-width: 1440px) {
  .product__price {
    margin: 0;
  }
}
.product__order {
  grid-column: 1 / 4;
  min-height: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 1440px) {
  .product__order {
    grid-column: 4 / 5;
    width: 244px;
  }
}
.promo {
  position: relative;
  padding: 27px 20px 0;
  /*background-color: rgba(104, 183, 56, 0.85);*/
  background-image: url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px;
  background-position: top center;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .promo {
    background-image: none;
    padding-top: 62px;
    padding-left: 118px;
    margin-bottom: 526px;
  }
}
@media (min-width: 1440px) {
  .promo {
    padding-top: 223px;
    background-image: url("../img/promo-background.jpg");
    background-repeat: no-repeat;
    background-size: 50% 694px;
    background-position: right 0 top;
    height: 694px;
    margin-bottom: 82px;
    margin-top: -112px;
  }
}
.promo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 302px;
  top: 0;
  right: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 769px) {
  .promo::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo::after {
    display: block;
    width: 50%;
    height: 694px;
    right: 0;
    top: 0;
  }
}
.promo__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  width: 250px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 25px;
  z-index: 2;
}
@media (min-width: 769px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    width: 420px;
    margin: 0;
    margin-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin-bottom: 40px;
    margin-left: 80px;
  }
}
.promo__description {
  position: relative;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  z-index: 2;
}
@media (min-width: 769px) {
  .promo__description {
    color: #000000;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .promo__description {
    margin-bottom: 52px;
    margin-left: 80px;
  }
}
.promo__link {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  z-index: 2;
}
@media (min-width: 769px) {
  .promo__link {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
  }
}
@media (min-width: 1440px) {
  .promo__link {
    margin-left: 80px;
  }
}
.promo__image {
  display: block;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .promo__image {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 201px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    width: 552px;
    height: 499px;
    top: 141px;
    left: 38%;
    z-index: 2;
  }
}
@media (min-width: 769px) {
  .questions {
    padding-left: 71px;
    padding-right: 67px;
  }
}
@media (min-width: 1440px) {
  .questions {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.questions__title {
  text-align: left;
  padding-top: 27px;
  margin-bottom: 37px;
  color: #000000;
}
@media (min-width: 769px) {
  .questions__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .questions__title {
    margin-bottom: 56px;
  }
}
.questions__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 39px;
  max-width: 226px;
}
@media (min-width: 769px) {
  .questions__description {
    font-size: 20px;
    line-height: 30px;
    max-width: 324px;
    margin-bottom: 66px;
  }
}
.scheme {
  padding-bottom: 50px;
}
@media (min-width: 769px) {
  .scheme {
    padding-bottom: 0;
  }
}
.scheme__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
}
@media (min-width: 769px) {
  .scheme__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}
.scheme__list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 769px) {
  .scheme__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 136px;
    row-gap: 37px;
    padding-right: 75px;
  }
}
@media (min-width: 1440px) {
  .scheme__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    padding: 0;
  }
}
.scheme__item {
  position: relative;
  display: flex;
  margin-bottom: 26px;
}
@media (min-width: 769px) {
  .scheme__item {
    flex-direction: column;
    min-height: 280px;
    /*&::after {
      position: absolute;
      content: "1";
      height: 280px;
      width: 50%;
      color: #f2f2f2;
      top: 0;
      right: 0;
      z-index: 2;
    }*/
  }
}
.scheme__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  width: calc(100% - 80px);
  margin-left: 20px;
}
@media (min-width: 769px) {
  .scheme__description {
    margin-left: 0;
    width: 245px;
  }
}
.scheme__item .scheme__img {
  display: block;
  background-color: #68b738;
  width: 60px;
  height: 60px;
}
.scheme__item .scheme__img--nature {
  background-image: url("../img/nature.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.scheme__item .scheme__img--comfort {
  background-image: url("../img/comfort.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.scheme__item .scheme__img--meal {
  background-image: url("../img/meal.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.scheme__item .scheme__img--time {
  background-image: url("../img/time.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 769px) {
  .scheme__item .scheme__img {
    margin-top: 40px;
    margin-bottom: 31px;
  }
}
.site-list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
@media (min-width: 769px) {
  .site-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    background-color: transparent;
  }
}
.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.site-list__item:first-of-type {
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 769px) {
  .site-list__item {
    border: none;
    min-height: 40px;
  }
  .site-list__item:first-of-type {
    border: none;
  }
}
.site-list__link {
  display: block;
  position: relative;
  z-index: 2;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .site-list__link {
    font-size: 18px;
    line-height: 24px;
    margin-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    font-size: 20px;
    line-height: 29px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .site-list__link--index {
    color: #ffffff;
  }
}
@media (min-width: 769px) {
  .site-list__link--current::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #68b738;
    left: 18px;
    right: 18px;
    bottom: 0;
    z-index: 2;
  }
}
@media (min-width: 1440px) {
  .site-list__link--current::after {
    left: 16px;
    right: 16px;
  }
}
@media (min-width: 1440px) {
  .site-list__link--index.site-list__link--current::after {
    background-color: #ffffff;
  }
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  width: 132px;
}
.social__link {
  text-decoration: none;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */
