.bottom {
  background-color: #f2f2f2;
  padding: 40px 20px;
}

.bottom__social {
  display: flex;
  margin-bottom: 40px;
}

.bottom__logo {
  margin-bottom: 40px;
  display: block;
  text-align: center;
}
