.bottom {
  display: block;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.bottom__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
    margin: 0 auto;
  }
}

.bottom__logo {
  padding: 0;
  display: block;
  margin: 0 auto 18px;
  mask-image: url("../img/icons/sprite.svg#logo");
  background-color: rgba(17, 17, 17, 1);
  mask-size: 128px 24px;
  mask-repeat: no-repeat;
  mask-position: center;

  @media (min-width: @tablet-width) {
    width: 142px;
    height: 26px;
    mask-size: 142px 26px;
    margin: 0;
    margin-right: 26px;
  }
}

.bottom__copyright {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
