.categories {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.categories__list {
  display: block;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}


.categories__item {
  display: block;
  background-color: #f2f2f2;
  text-align: start;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 18px;
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 57px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    min-width: 570px;
    padding-left: 52px;
    padding-bottom: 59px;
  }
}

.categories__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.categories__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  max-width: 227px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
    text-align: start;
    max-width: 340px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
    text-align: start;
    max-width: 452px;
  }
}

.categories__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    max-width: 165px;
  }
}
