.main-footer {
  width: 100%;
}

.main-footer__map {
  display: block;
  margin: 0;
  padding: 0;
}

.main-footer__wrapper {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.main-footer__contacts {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 2;
  }
}

