.main-header {
  min-height: 65px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 52px;
  }

  @media (min-width: @desktop-width) {
    min-height: 59px;
    flex-direction: row;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 52px;
  }
}

.main-header__logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 75px);
  height: 65px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-right: auto;

  &::after {
    position: relative;
    content: "";
    background-image: url("../img/logo-text.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 101px;
    height: 18px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    height: 52px;
    width: 174px;
    padding: 0;
    margin: 0;
    margin-right: auto;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    height: 59px;
    width: 202px;
  }
}

.main-header__logo-image {
  margin-right: 20px;
}

.main-header__logo-text {
  margin: 0 auto;
}
