html {
  overflow-x: hidden;
}

.page__body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  min-width: 320px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;

    &::before {
      position: absolute;
      content: "";
      background-color: #4e4d53;
      width: 50%;
      height: 694px;
      top: 0;
      right: 0;
    }
  }
}
