.scheme {
  padding-bottom: 50px;
}

.scheme__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.scheme__list {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 246px 246px;
    column-gap: 136px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.scheme__item {
  margin-bottom: 20px;
}

.scheme__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #444444;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}
