.site-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  min-height: 66px;
  min-width: 320px;
}

.site-list__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  margin: auto;
}
