.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  width: 132px;
}

.social__link {
  text-decoration: none;
  color: #444444;
  display: block;
  // // Пытался добавить здесь маску, чтобы убрать svg из разметки, не заработало
  // width: 44px;
  // height: 44px;
  // mask-image: url("../img/icons/sprite.svg#social-telegram");
  // background-color: #444444;
}
