ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.phrase {
  padding: 0;
  margin: 0;
}

.section {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 31px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}
